<div id="page-body">
<div id="skim"></div>
  <div id="landing-page" class="section-box">
    landing page
    <div id="buttonA">A</div>
    <div id="buttonB">B</div>
  </div>
  <div id="sectionA" class="section-box hidden">
    <div id="backA"><-</div>
    section a
    <div id="postsA"></div>
  </div>
  <div id="sectionB" class="section-box hidden">
    <div id="backB"><-</div>
    section b
    <div id="postsB"></div>
  </div>
</div>
