<div id="page-body">
<div id="skim"></div>
  <div id="landing-page" class="section-box">
    landing page
    <div id="buttonA">A</div>
    <div id="buttonB">B</div>
  </div>
  <div id="sectionA" class="section-box hidden">
    section a
    <div id="backA"><-</div>
  </div>
  <div id="sectionB" class="section-box hidden">
    section b
    <div id="backB"><-</div>

  </div>
</div>
