<div id="page-body">
  <div id="skim"></div>
  <div id="landing-page" class="section-box">
    <% if user_signed_in? %>
    <div id="logout-button">
    <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
    <%= link_to('New Post', new_post_path) %>
    </div>
    <% end %>
    <h1>Jeremy Carroll</h1>
    <p>Musician, composer, fiddler, thinker, tinkerer</p>
    <h4>& teacher</h4>
    <div id="buttonA" class="col-md-4 col-md-offset-1">Music</div>
    <div id="buttonB" class="col-md-4 col-md-offset-2">Lessons</div>
    <div class="footer-col col-md-12">
      <ul class="list-inline">
        <li>
        <a href="" class="btn-social btn-outline"><i class="fa fa-fw fa-google-plus"></i></a>
        </li>
        <li>
          <a href="" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a>
        </li>
        <li>
          <a href="" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
        </li>
        <li>
          <a href="" class="btn-social btn-outline"><i class="fa fa-fw fa-instagram"></i></a>
        </li>
      </ul>
    </div>
  </div>
  <div id="sectionA" class="section-box">
    <div id="backA"><-</div>
    <h1>Music</h1>
    <hr><hr>
    <div id="postsA"></div>
  </div>
  <div id="sectionB" class="section-box">
    <div id="backB"><-</div>
    <h1>Lessons</h1>
    <hr><hr>
    <div id="postsB"></div>
  </div>
</div>
