<div id="page-body">
  <div id="shim"></div>
  <div id="tagSection" class="section-box">
    <div class="backBox">
    <a href="/" class="homeButton btn-social btn-outline"><i class="fa fa-fw fa-home"></i></a>
      <a class="scrollup btn-social btn-outline"><i class="fa fa-fw fa-sort-up"></i></a>
    </div>
    <h1 class="section-title"><%= @tag.name %></h1>
    <hr><hr>
    <ul>
      <% @posts.each do |post| %>
      <li>
        <%= render post %>
      </li>
      <% end %>
    </ul>
  </div>
</div>
