  <div class="row">
    <div class="embedded_media col-md-8"><iframe width="560" height="315" src=<%= post.embed_code %> frameborder="0" allowfullscreen></iframe></div>
    <div data-id={{id}} class="post-title col-md-3">
      <h2><%= post.title %></h2>
      <h5><%= post.created_at %></h4>
      <br>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10 col-md-offset-1 post-content">
      <p><%= post.content %></p>
    </div>
  </div>
</li>
<hr>
<br>
