<% if user_signed_in? %>
  <!-- <div onclick="window.location+='/edit'">click to edit</div> -->
  <%= button_to "Edit Post", edit_post_path(@post), method: :get %>
  <%= button_to "Delete Post", post_path(@post), method: :delete %>
<% end %>

<%= render @post %>
