<% if user_signed_in? %>
  <div onclick="window.location+='/edit'">click to edit</div>
<% end %>
<h2><%= @post.title %></h2>
<h4><%= @post.created_at %></h4>
<div><%= @post.embed_code %></div>
<p><%= @post.content %></p>
