/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require font-awesome
 *= require_tree .
 *= require_self
 */

* {
  margin: 0;
  padding: 0;
}
html, body {
  height: 100%;
}
#page-body {
  background-color: black;
  height: 100%;
}

.section-box {
  height: 100%;
  width: 100%;
  text-align: center;
  overflow-y: auto;
  overflow-x: hidden;
}
#landing-page {
  background-color: rgba(41, 100, 160,1.0);
}
#sectionA, #sectionB {
  background-color: rgba(149, 165, 166,1.0);
}

#tagSection {
  background-color: rgba(127, 140, 141,1.0);
  overflow-y: auto;
  overflow-x: hidden;
}
.backBox, #logout-button {
  position: absolute;
  top: 15px;
  z-index: 1;
}
.post-list {
  list-style-type: none;
}
.post-content {
  text-align: left;
}
hr {
  width: 95%;
  margin-left: 2.5%;
}
.fa-music, .fa-thumbs-up {
  font-size: 6em;
}
#buttonA {
  display: inline-block;
  margin-right: 50px;
}
#buttonB {
  display: inline-block;
}

.home-page-link {
  border-radius: 50%;
  padding: 30px;
}
.home-page-link h3 {
  color: #F6F6F6;
  font-weight: bold;
}
#footer {
  position: absolute;
  top: 400px;
  width: 100%;
}
@media (max-width: 992px) {
  .post-content {
    text-align: center;
  }
}
@media screen and (max-device-width: 700px) and (orientation: portrait) {
  #footer {
    top: 1400px;
  }
  .sectionButtons {
    margin-top: 200px;
  }
  #buttonA, #buttonB {
    display: block;
    width: 70%;
    margin: 0 auto;
  }
  .fa-music, .fa-thumbs-up {
    font-size: 10em;
  }
  .home-page-link {
    padding: 80px;
  }
}

#footer li, .backBox {
  width: 140px;
  height: 70px;
}
.soc-link {
  padding: 10px;
  padding-top: 25px !important;
  border-radius: 20px;
}

.fa-counter-spin {
  -webkit-animation: spin-counter 2s infinite linear;
  -moz-animation: spin-counter 2s infinite linear;
  -o-animation: spin-counter 2s infinite linear;
  animation: spin-counter 2s infinite linear;
}
@-moz-keyframes spin-counter {
  0% {
    -moz-transform: rotate(359deg);
  }
  100% {
    -moz-transform: rotate(0deg);
  }
}
@-webkit-keyframes spin-counter {
  0% {
    -webkit-transform: rotate(359deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
  }
}
@-o-keyframes spin-counter {
  0% {
    -o-transform: rotate(359deg);
  }
  100% {
    -o-transform: rotate(0deg);
  }
}
@-ms-keyframes spin-counter {
  0% {
    -ms-transform: rotate(359deg);
  }
  100% {
    -ms-transform: rotate(0deg);
  }
}
@keyframes spin-counter {
  0% {
    transform: rotate(359deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
